<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd" default-autowire="byType">

    <bean class="com.siggidieuf.facture.repository.InvoiceRepositoryDatabase"/>

    <bean class="com.siggidieuf.facture.service.InvoiceServicePrefix">
        <property name="lastNumber" value="220"/>
        <property name="prfix" value="INV_"/>
    </bean>

    <bean class="com.siggidieuf.facture.controller.InvoiceControllerWeb"/>

</beans>